* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}

<<<<<<< HEAD
ul, .container {
=======
ul{
>>>>>>> 2d472202ba23b0f5e89006ed106b46f854f30f33
  display: flex;
  list-style-type: none;
  height: 300px;
  padding: 0px;
}

li{
  background-color: beige;
}

li:nth-child(2n){
  background-color: rgb(153, 175, 235);  
} 
/*
li:nth-child(2){
  flex-grow: 1;
  flex-shrink: 2;
}
li:nth-child(3){
  flex-grow: 2;
  flex-shrink: 3;
}
*/

li:nth-child(1){order:3}
li:nth-child(2){order:5}
li:nth-child(3){order:1}
li:nth-child(4){order:2}
li:nth-child(5){order:4}